.signup__container {
  width: 60%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  margin-top: 5%;
}

.signup__container .signup__form {
  width: 50%;
  height: 100%;
}
.signup__container .signup__welcome {
  width: 50%;
  height: 100%;
}
.signup__text {
  padding-top: 20px;
  font-size: large;
}
