
.root-container {
    background-image: url('./seatSelect.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    overflow:auto;
  }
  .mainclass {
    background-color: #a8a8a6;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto;
    max-width: 600px; /* Set a maximum width if desired */
}

.selectedSeat {
    text-align: center; 
    margin: 0 auto; 
}

.checkoutButton {
    position: absolute;
    display: 'flex'; 
    justify-content: 'center' ;
}