.login__container {
  width: 50%;
  height: 70vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  margin-top: 5%;
}

.login__container .login__form {
  width: 50%;
  height: 100%;
}
.login__container .login__welcome {
  width: 50%;
  height: 100%;
}
.userLogin__text{
    padding-top: 20px;
    font-size: large;
}