.flight-search-overlay {
  background-color: transparent;
  display: flex;
  align-self: center; /* Aligns vertically */
  justify-content: center; /* Aligns horizontally (optional) */
  display: grid;
  grid-template-rows: auto 1fr;
}

.flight-search-content {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.reduced-width-input {
  width: 70vh; /* Adjust width as needed */
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  font-weight: bold;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center label and input */
  font-weight: bold;
}

.spinnerContainer {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  /* Add other styles like width, height, or padding as needed */
}
