.flight-search-overlay {
  position: absolute; /* Position element relative to its parent */
  top: 0; /* Position at the top of the parent */

  display: grid;
  grid-template-rows: auto 1fr;
}

.background-image {
  padding: 296px;
  /*background: url("/home/shashimal/Desktop/UNext/test.jpg");*/
  background-attachment: fixed; /* Fix image to viewport */
}

.flight-search-content {
  background: url("/home/shashimal/Desktop/UNext/test2.gif");
  background-size: cover;
  background-color: rgba(
    255,
    255,
    255,
    0.75
  ); /* Optional background for content area */
  padding: 350px; /* Adjust padding as needed */
  border-radius: 100px; /* Add rounded corners (optional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.reduced-width-input {
  width: 600px; /* Adjust width as needed */
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center label and input */
  font-weight: bold;
}
