.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5%;
    text-align: center;
}
.container .form__container{
    width: 30%;

}